<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <caching enabled="false" />
    <rewrite>
      <rules>
        <rule name="All rule">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="(api|app|assets|lib)\/.*" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
